In [1]:
import pandas as pd
import numpy as np

In [2]:
link = 'https://www.czso.cz/documents/10180/91917302/130055190105a.xlsx/ba744512-9c05-47ad-a6b0-3f5e9c0254d2?version=1.1'
data = pd.read_excel(link, header = 0, skiprows = 1, index_col = 0)

In [12]:
data.iloc[1]

Unnamed: 1                            NaN
Unnamed: 2                            NaN
Unnamed: 3                            NaN
Unnamed: 4              živě\nLive births
Unnamed: 5             mrtvě\nStillbirths
Unnamed: 6                  celkem\nTotal
Unnamed: 7                  celkem\nTotal
Unnamed: 8       do 1 roku\nInfant deaths
Unnamed: 9     do 28 dnů\nNeonatal deaths
Unnamed: 10                           NaN
Name: nan, dtype: object

In [3]:
col1 = data.iloc[0].fillna(method = 'ffill').str.split(pat='\n', n = 0).str.get(1)
#vyplni Nan predchozim objektem v listu
#rozdeli retezec podle \n a vezme druhou cast

col2 = data.iloc[1].str.split(pat='\n', n = 0).str.get(1)
columns = [col1, col2]

columns = list(zip(*columns))
# spoji oba listy do listu listu

columns

[('Mid-year population', nan),
 ('Marriages', nan),
 ('Divorces', nan),
 ('Births', 'Live births'),
 ('Births', 'Stillbirths'),
 ('Births', 'Total'),
 ('Deaths', 'Total'),
 ('Deaths', 'Infant deaths'),
 ('Deaths', 'Neonatal deaths'),
 ('Natural increase', nan)]

In [4]:
data.columns = columns
data = data.drop(data.index[[0,1]])
data

,"(Mid-year population, nan)","(Marriages, nan)","(Divorces, nan)","(Births, Live births)","(Births, Stillbirths)","(Births, Total)","(Deaths, Total)","(Deaths, Infant deaths)","(Deaths, Neonatal deaths)","(Natural increase, nan)"
Population change - Czech Republic: 1919–2018 (absolute figures),,,,,,,,,,
1919,9921710,123263,2056,189675,5022,194697,177428,27790,14398,12247
1920,9978420,135714,3618,244668,6794,251462,176562,41439,18645,68106
1921,10002030,125417,4902,257281,6988,264269,161321,43041,19381,95960
1922,10112730,107341,5523,248728,6895,255623,163366,39374,16902,85362
1923,10198370,98922,4683,241230,6832,248062,142335,32873,15505,98895
...,...,...,...,...,...,...,...,...,...,...
2014,10524783,45575,26764,109860,392,110252,105665,263,172,4195
2015,10542942,48191,26083,110764,398,111162,111173,272,165,-409
2016,10565284,50768,24996,112663,420,113083,107750,317,192,4913
2017,10589526,52567,25755,114405,384,114789,111443,304,203,2962
2018,10626430,54470,24313,114036,383,114419,112920,292,187,1116

In [5]:
data.columns = pd.MultiIndex.from_tuples(data.columns, names=['Stat','Subdivision'])
data

Stat                                               Mid-year population  \
Subdivision                                                        NaN
         Population change - Czech Republic: 19...
1919                                                           9921710
1920                                                           9978420
1921                                                          10002030
1922                                                          10112730
1923                                                          10198370
...                                                                ...
2014                                                          10524783
2015                                                          10542942
2016                                                          10565284
2017                                                          10589526
2018                                                          10626430

Stat                                               Marriages Divorces  \
Subdivision                                              NaN      NaN
         Population change - Czech Republic: 19...
1919                                                  123263     2056
1920                                                  135714     3618
1921                                                  125417     4902
1922                                                  107341     5523
1923                                                   98922     4683
...                                                      ...      ...
2014                                                   45575    26764
2015                                                   48191    26083
2016                                                   50768    24996
2017                                                   52567    25755
2018                                                   54470    24313

Stat                                                    Births              \
Subdivision                                        Live births Stillbirths
         Population change - Czech Republic: 19...
1919                                                    189675        5022
1920                                                    244668        6794
1921                                                    257281        6988
1922                                                    248728        6895
1923                                                    241230        6832
...                                                        ...         ...
2014                                                    109860         392
2015                                                    110764         398
2016                                                    112663         420
2017                                                    114405         384
2018                                                    114036         383

Stat                                                        Deaths  \
Subdivision                                          Total   Total
         Population change - Czech Republic: 19...
1919                                                194697  177428
1920                                                251462  176562
1921                                                264269  161321
1922                                                255623  163366
1923                                                248062  142335
...                                                    ...     ...
2014                                                110252  105665
2015                                                111162  111173
2016                                                113083  107750
2017                                                114789  111443
2018                                                114419  112920

Stat                                                              \
Subdivision                                        Infant deaths
         Population change - Czech Republic: 19...
1919                                                       27790
1920                                                       41439
1921                                                       43041
1922                                                       39374
1923                                                       32873
...                                                          ...
2014                                                         263
2015                                                         272
2016                                                         317
2017                                                         304
2018                                                         292

Stat                                                                \
Subdivision                                        Neonatal deaths
         Population change - Czech Republic: 19...
1919                                                         14398
1920                                                         18645
1921                                                         19381
1922                                                         16902
1923                                                         15505
...                                                            ...
2014                                                           172
2015                                                           165
2016                                                           192
2017                                                           203
2018                                                           187

Stat                                               Natural increase
Subdivision                                                     NaN
         Population change - Czech Republic: 19...
1919                                                          12247
1920                                                          68106
1921                                                          95960
1922                                                          85362
1923                                                          98895
...                                                             ...
2014                                                           4195
2015                                                           -409
2016                                                           4913
2017                                                           2962
2018                                                           1116

[100 rows x 10 columns]

In [6]:
data.describe(include = 'all')

Stat        Mid-year population Marriages Divorces      Births              \
Subdivision                 NaN       NaN      NaN Live births Stillbirths
count                       100       100      100         100         100
unique                      100       100      100         100          98
top                    10517247     85247    31758      106751         317
freq                          1         1        1           1           2

Stat                 Deaths                               Natural increase
Subdivision   Total   Total Infant deaths Neonatal deaths              NaN
count           100     100           100             100              100
unique          100     100            99              99              100
top          214014  142335           360            1003            55549
freq              1       1             2               2                1